* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121215;
  color: #EAEAEA;
}

.memory small {
  color: #BEBEBF;
  font-size: 12px;
}

.memory h1 {
  font-size: 32px;
}